In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from matplotlib import style

In [3]:
plt.style.use('Solarize_Light2')

In [4]:
df = pd.read_csv('./sea_levels_2015.csv')

In [12]:
df

            Time   GMSL  GMSL uncertainty
0     1880-01-15 -183.0              24.2
1     1880-02-15 -171.1              24.2
2     1880-03-15 -164.3              24.2
3     1880-04-15 -158.2              24.2
4     1880-05-15 -158.7              24.2
...          ...    ...               ...
1603  2013-08-15   71.6               8.8
1604  2013-09-15   68.8               8.8
1605  2013-10-15   66.4               8.9
1606  2013-11-15   59.7               9.0
1607  2013-12-15   58.5               9.0

[1608 rows x 3 columns]

In [6]:
time = df['Time'].to_numpy()
sea_level = df["GMSL"].to_numpy()

In [14]:
waktu = []
for i in range(len(time)):
    waktu.append(np.datetime64(time[i]))

waktu = np.array(waktu)

In [15]:
tahun = np.datetime_as_string(waktu)

In [19]:
plt.scatter(waktu, sea_level)

plt.show()

In [17]:
data_kenaikan = []



try:
    for i in range(len(sea_level)):
        kenaikan = (sea_level[i + 1])- sea_level[i]
        data_kenaikan.append(kenaikan)
except IndexError:
    print("error")

data_kenaikan = np.array(data_kenaikan)


mean_kenaikan = np.mean(data_kenaikan)
print(mean_kenaikan)

error
0.15028002489110143

In [18]:
print("iaja")

iaja